[user]
  name = {name}
  email = {email}

[credential "https://github.com"]
  username = {username}

[core]
  autocrlf = false
  filemode = false
  whitespace = blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
  compression = 9

[apply]
  whitespace = fix

[alias]
  br = branch
  co = checkout
  st = status
  cm = !git add --all && git commit -m

[diff]
  mnemonicprefix = true

[push]
  default = simple

[color "diff"]
  meta = yellow bold
  frag = magenta

[color "status"]
  added = green
  changed = yellow
